body {
  padding-top: 70px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: 20px;
  overflow: hidden;
}

#sidebar {
  padding-top: 10px;
}

.selected {
  background-color: #8bf56e;
}

a {
  color: black;
}

a:hover, a:focus {
  color: #000;
}

.panel-title>a {
  color: black;
}

.panel-title>a:hover {
  background: #f0c328;
}

.corpus:hover {
  background: #F5D76E;
}

.glyphicon {
  margin-right: 4px;
  margin-left: 4px;
}

.dropdown {
  font-size: large;
}

.dropdown li {
  font-size: large;
}

.table {
  margin-bottom: 0px;
}

.panel-body {
  padding: 0px;
}

#snippets ul, .results-navig ul {
  list-style-type: none;
  margin: 0;
  /* margin-left: 20px; */
  padding: 0;
}

#snippets li, .results-navig li {
  border-bottom: 1px solid #ccc;
}

#snippets li:last-child, .results-navig li:last-child {
  border: none;
}

#snippets li a, .results-navig li a {
  text-decoration: none;
  color: #000;
  display: block;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

#snippets li a:hover, .results-navig li a:hover {
  background: #F5D76E;
}

h3 {
  margin-top: 0px;
}

.grew-label {
  font-size: 24px;
}

#console {
  padding-top: 0px;
}

/* #results-block, #cluster-block {
  display: none;
} */

.badge-pill {
  margin-right: 7px;
}

.displayed {
  background-color: #8bf56e;
}

#display-svg {
  overflow: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

/* Style de display-svg */
#result-pic {
  height: 100%;
}

#results-list {
  max-height: 50vh;
  overflow: auto;
}

#display-parallel {
  overflow: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.form-group {
  margin-bottom: 10px;
  margin-top: 10px;
}

#result_message {
  margin-bottom: 0;
  padding-bottom: 10px;
}

#pattern-input {
  width: 95%;
}

.item {
  cursor: pointer;
}

.CodeMirror {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  margin-bottom: 10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
  background-color: #C3C6C7;
  color: #000;
}

.nav-pills>li>a:hover, .nav-pills>li.active>a:hover {
  background-color: #989B9C;
  color: #000;
}

.nav-pills>li>a, .nav-pills>li>a:focus {
  color: #000;
}

#navbar-grew {
  background-image: none;
  background-color: #003171;
}

#right-navbar {
  margin-bottom: 0px;
}

#corpus {
  margin-top: 10px;
  margin-bottom: 10px;
}

#jumbo-grew {
  background-color: #ECF0F1;
  margin-top: 15px;
  padding-left: 0;
  padding-right: 0;
}

#jumbo-clust {
  background-color: #ECF0F1;
  margin-top: 15px;
  padding: 10px;
}

#title-grew {
  color: #ECF0F1;
}

#grew-main {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

#right-navbar {
  margin-top: 10pt;
}

.groups>li {
  margin-left: 4pt;
  margin-right: 4pt;
}

.navbar-right>li {
  margin-left: 10pt;
  margin-right: 10pt;
}

/* fix cross position in sweet alert */
.x-mark {
  top: -38px;
}

.highlight {
  background-color: #8bf56e;
}

.feat {
  font-family: monaco, Consolas, Lucida Console, monospace;
  color: #bf616a;
}

#export-body{
  height: 80vh;
  overflow-y: auto;
  }
  
#exportResult tr:nth-child(even) {
  background-color: #dddddd;
}

#exportResult th {
  text-align: center;
}

#exportResult td {
  padding: 5px;
}

/* vertical bars inside */
#exportResult th+th {
  border-left: 1px solid
}

#exportResult td+td {
  border-left: 1px solid
}

.export-table-4 td:nth-child(2) {
  text-align: right;
}

.export-table-4 td:nth-child(3) {
  text-align: center;
}

.export-table-2 td:nth-child(2) {
  text-align: center;
}

.corpus-folder {
  background-color: #CCC;
  border-top-style: solid;
  border-top-width: thin;
}

.badge-danger {
  float: right;
  margin-right: 8px;
}

.modal-content {
  height: 200%;
}

#code_viewer {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: monospace;
  font-size: x-small;
}

.swal2-popup {
  transform: scale(1.8);
}

#sentence-txt {
  margin-top: 0pt;
}

#whether-input1+.CodeMirror {
  height: 60px;
}

#whether-input2+.CodeMirror {
  height: 60px;
}

#pattern-input+.CodeMirror {
  height: 160px;
}

/* Specific navbar color for localhost */
#navbar-grew.local {
  background-color: #424242;
}

.speaking {
  background-color: yellow;
  box-shadow: 0px 0px 4px yellow;
}
