<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Grew-match</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">

	<link rel="stylesheet" href="vendor/bootflat.css">

	<script src="vendor/jquery-2.1.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

	<!-- tooltipter -->
	<link rel="stylesheet" href="vendor/tooltipter/tooltipster.css">
	<link rel="stylesheet" href="vendor/tooltipter/tooltipster-noir.css">
	<script src="vendor/tooltipter/jquery.tooltipster.min.js"></script>

	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<script src="vendor/bootstrap/bootstrap.min.js"></script>

	<script src="vendor/sweetalert2.all.min.js"></script>

	<!-- codemirror and Grew specific syntax -->
	<script src="js/vendor/codemirror.js"></script>
	<link rel="stylesheet" href="js/vendor/codemirror.css">
	<script src="js/vendor/grew.js"></script>

	<!-- Font awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="icon/apple-touch-icon.png?v=2">
	<link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png?v=2">
	<link rel="manifest" href="icon/manifest.json?v=2">
	<link rel="mask-icon" href="icon/safari-pinned-tab.svg?v=2" color="#5bbad5">
	<link rel="shortcut icon" href="icon/favicon.ico?v=2">

	<!-- Toggle button for cluster sorting -->
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<script src="js/vendor/jquery.timeago.js"></script>

	<script type="text/javascript">
		jQuery.timeago.settings.strings.prefixAgo = "updated";
		jQuery.timeago.settings.strings.seconds = "less than 1 minute";
		jQuery.timeago.settings.strings.minute = "1 minute";
		jQuery.timeago.settings.strings.hour = "1 hour";
		jQuery.timeago.settings.strings.month = "1 month";
		jQuery.timeago.settings.strings.hours = "%d hours";
		jQuery.timeago.settings.strings.year = "1 year";
	</script>

	<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
	<script>
		var md = new Remarkable();
	</script>
</head>

<body>

	<div id="app">
		<!-- Top Navbar -->
		<nav id="navbar-grew" class="navbar navbar-inverse navbar-fixed-top" v-bind:class='{local: local}' role="navigation">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<a href="https://match.grew.fr" class="navbar-brand" style="padding-left: 5px; padding-top: 10px; padding-right: 20px;">
						<img src="portal/grew-match.svg" alt="LOGO for grew_match" style="height:50px;">
					</a>

					<a v-bind:href='top_project["website"]' v-if="top_project" class="navbar-brand" id="title-grew" style="padding:0px; background-color:white; ">
						<img v-bind:src='top_project["logo"]' alt="LOGO for top_project site" style="height:50px;">
					</a>

					<ul class="nav navbar-nav groups" style="margin-left:30px">

						<li v-for="group in groups" v-bind:class='{dropdown: group["style"] == "dropdown" || group["style"] == "links", active: current_group_id == group["id"] }'>

							<!-- links case -->
							<a v-if='group["style"] == "links"' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i v-if='group["icon"] != undefined' class="fa fa-lg" v-bind:class='group["icon"]'></i>
								{{ group["id"] }}
								<span class="caret"></span>
							</a>

							<ul v-if='group["style"] == "links"' class="dropdown-menu">
								<li v-for='corpus in group["links"]' v-bind:class='{ divider: corpus=="divider" }'>
									<a v-bind:href='corpus["url"]' v-if='corpus!="divider"'>
										<i class="fa fa-external-link" aria-hidden="true"></i>
										&nbsp;
										{{corpus["id"]}}
									</a>
								</li>
							</ul>

							<!-- dropdown case -->
							<a v-if='group["style"] == "dropdown"' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ group["id"] }}
								<span class="caret"></span>
							</a>

							<ul v-if='group["style"] == "dropdown"' class="dropdown-menu">
								<li v-for='corpus in group["corpora"]' v-bind:class='{ divider: corpus=="divider" }'>
									<a href="#" v-if='corpus!="divider"' v-on:click='current_group_id = group["id"]; current_corpus_id = corpus["id"]'>
										{{corpus["id"]}}
									</a>
								</li>
							</ul>

							<!-- leftpane case -->
							<a v-if='group["style"] == "left_pane"' class="navbar-brand" v-on:click='select_group(group["id"])' href="#">
								{{group["id"]}}
							</a>

							<!-- single case -->
							<a v-if='group["style"] == "single"' class="navbar-brand" v-on:click='select_group(group["id"])' href="#">
								{{ group["id"] }}
							</a>

						</li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown">
							<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
								<i class="fa fa-question-circle fa-lg"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="https://grew.fr/grew_match/about" target="_blank">About</a></li>
								<li><a href="https://grew.fr/grew_match/help" target="_blank">Documentation</a></li>
								<li><a href="https://github.com/grew-nlp/grew/issues" target="_blank">Report an issue</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- wrapper: left menu for corpus selection -->
		<div class="wrapper" id="wrap">
			<nav id="sidebar" v-if="left_pane" v-bind:class="{ active: view_left_pane }">
				<h4>{{number_of_corpora}} corp{{ number_of_corpora > 1 ? "ora" : "us" }}</h4>
				<div>
					Filter:
					<input type="text" v-model="corpora_filter" />
					<i v-on:click="corpora_filter = ''" class="fa fa-times-circle fa-lg"></i>
				</div>

				<div style="height: calc(100% - 90px);padding-top:10px">
					<div style="max-height:100%;overflow:auto;">

						<div class="corpus" v-for="corpus in filtered_corpora_list">
							<table class="table">
								<tbody>
									<tr>
										<td class="alone" v-bind:class="{ selected: corpus.id == current_corpus_id }" v-on:click="current_corpus_id=corpus.id" href="#" style="padding-left: 5px;">
											{{ corpus.id }}
											<i v-if="corpus.error" class="fa fa-exclamation-triangle fa-lg" style="color:red; float: right;"></i>
											<i v-if='corpus.built_files && !(corpus.built_files.includes("marshal"))' class="fa fa-exclamation-triangle fa-lg" style="color:red; float: right;"></i>
											<i v-if="corpus.grs" class="fa fa-gear fa-lg" style="float: right;"></i>
											<img v-if="corpus.new" src="icon/new.svg" width="20" height="20" style="float: right;"></img>
											<img v-if="corpus.enhanced" src="icon/enhanced.svg" width="20" height="20" style="float: right;"></img>
											<img v-if="corpus.audio" src="icon/audio.svg" width="20" height="20" style="float: right;"></img>
											<img v-if="corpus.no_word" src="icon/no_word.svg" width="20" height="20" style="float: right;"></img>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</nav>

			<div id="grew-main" class="container-fluid">
				<div class="row">

					<!-- Main jumbotron for a primary marketing message or call to action -->
					<div class="jumbotron" id="jumbo-grew" style="margin-bottom: 0">
						<div class="container-fluid">
							<div class="row">

								<!-- Upper-left part: corpus selector, textarea, buttons -->
								<div class="col-md-8" id="console">
									<h4 v-show="warning_level > 0">
										<span style="color: red" v-html="warning_message"></span>
										<i id="warning-tooltip" class="fa fa-question-circle fa-lg tooltip-desc"></i>
									</h4>
									<h2 id="corpus">
										<button type="button" class="btn btn-primary" v-if="left_pane" onclick="javascript:app.view_left_pane = !app.view_left_pane">
											<span>{{ view_left_pane ? "Hide corpora list" : "Show corpora list" }}</span>
										</button>

										<span id="corpus-desc-label" class="tooltip-desc label label-default">{{ current_corpus_id }}</span>

										<span v-if="corpus_error">
											⚠️ <span style="color: red" v-html="corpus_error"></span>
										</span>

										<!-- Info button -->
										<a v-show='meta_info'>
											<i id="info-button" class="fa fa-info-circle tooltip-desc"></i>
										</a>

										<!-- "ago" info -->
										<span id="update_ago" style="font-size: initial;"></span>

										<!-- Download button -->
										<a v-show='check_built("__id__.tgz")'>
											<button type="button" class="btn btn-primary" onclick="dowload_tgz()">
												<i class="fa fa-download fa-lg"></i>
											</button>
										</a>

										<!-- Error log button -->
										<a v-show='check_built("log")'>
											<button type="button" class="btn btn-danger" onclick="open_build_file('log')">
												<i class="fa fa-exclamation-triangle fa-lg"></i>
											</button>
										</a>

										<!-- UD validation -->
										<a v-show='check_built("valid_ud.txt")'>
											<button type="button" class="tooltip-desc btn btn-primary" onclick="open_build_file('valid_ud.txt', 'valid_ud', 'yes')">
												<img src="icon/ud.svg" width="20"></img>
												<i class="fa fa-check fa-lg"></i>
											</button>
										</a>

										<!-- SUD validation -->
										<a v-show='check_built("valid_sud.json")'>
											<button type="button" class="tooltip-desc btn btn-primary" onclick="open_validation_page()">
												<img src="icon/sud.svg" height="20"></img>
												<i class="fa fa-check fa-lg"></i>
											</button>
										</a>

										<!-- Github button -->
										<a v-show='current_corpus["github"]' v-bind:href='current_corpus["github"]' target="_blank">
											<button id="github-button" type="button" class="tooltip-desc btn btn-primary">
												<i class="fa fa-github fa-lg"></i>
											</button>
										</a>
										
										<!-- Table button -->
										<span v-show='check_built("table.html") || check_built("feat_upos.json") || check_built("dep_upos.json") || check_built("amb_lemmas.json")' class="dropdown">
											<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
												<button type="button" class="btn btn-primary" style="margin-top: -3px;">
													<i class="fa fa-table fa-lg"></i>
													<span class="caret"></span>
												</button>
											</a>
											<ul class="dropdown-menu" style="margin-top: 10px;">
												<li v-show='check_built("table.html")' ><a onclick="open_build_file('table.html', 'table', 'yes')" target="_blank">Relations tables</a></li>
												<li v-show='check_built("feat_upos.json")' ><a onclick="aggrid('feat_upos')" target="_blank">Features by upos</a></li>
												<li v-show='check_built("dep_upos.json")' ><a onclick="aggrid('dep_upos')" target="_blank">Relation by upos</a></li>
												<li v-show='check_built("amb_lemmas.json")' ><a onclick="aggrid('amb_lemmas')" target="_blank">Lemmas with more than one upos</a></li>
											</ul>
										</span>

										<!-- Gitlab button -->
										<a v-show='current_corpus["gitlab"]' v-bind:href='current_corpus["gitlab"]' target="_blank">
											<button id="gitlab-button" type="button" class="tooltip-desc btn btn-primary">
												<i class="fa fa-gitlab fa-lg"></i>
											</button>
										</a>

										<!-- issue button -->
										<a v-show='current_corpus["issue"]' v-bind:href='current_corpus["issue"]' target="_blank">
											<button id="issue-button" type="button" class="tooltip-desc btn btn-primary">
												<i class="fa fa-bug fa-lg"></i>
											</button>
										</a>

										<!-- guidelines button -->
										<a v-show='current_corpus["guidelines"]' v-bind:href='current_corpus["guidelines"]' target="_blank">
											<button id="guidelines-button" type="button" class="tooltip-desc btn btn-primary">
												<i class="fa fa-book fa-lg"></i>
											</button>
										</a>

										<!-- Download button -->
										<a v-show='current_corpus["download"]' v-bind:href='current_corpus["download"]' target="_blank">
											<button id="download-button" type="button" class="tooltip-desc btn btn-primary"><i class="fa fa-download fa-lg"></i></button>
										</a>

										<!-- Link button -->
										<a v-show='current_corpus["url"]' v-bind:href='current_corpus["url"]' target="_blank">
											<button id="link-button" type="button" class="tooltip-desc btn btn-primary"><i class="fa fa-link fa-lg"></i></button>
										</a>

										<!-- PARSEME validation button -->
										<a v-show='current_corpus["consistencyCheck"]' v-bind:href='current_corpus["consistencyCheck"]' target="_blank">
											<button id="ud-valid-button" type="button" class="tooltip-desc btn btn-primary"><i class="fa fa-check fa-lg"></i></button>
										</a>
									</h2>

									<div>
										<textarea id="pattern-input"></textarea>
									</div>

									<div class="container">
										<div class="row">
											<div class="col-md-6" style="padding-left: 0px;">
												<div>
													<b>Clustering 1:</b>
													<label><input type="radio" name="clust1" value="no" v-model="clust1"> No</label>
													<label><input type="radio" name="clust1" value="key" v-model="clust1"> Key</label>
													<label><input type="radio" name="clust1" value="whether" v-model="clust1"> Whether</label>
												</div>
												<input v-show="clust1=='key'" v-model="clust1_key" type="entry" style="width: 25em" id="clust1-key" />
												<div v-show="clust1=='whether'">
													<textarea id="whether-input1"></textarea>
												</div>
			
											</div>
											<div class="col-md-6" v-show="clust1 != 'no'" style="padding-right: 0px;">
												<div>
													<b>Clustering 2:</b>
													<label><input type="radio" name="clust2" value="no" v-model="clust2"> No</label>
													<label><input type="radio" name="clust2" value="key" v-model="clust2"> Key</label>
													<label><input type="radio" name="clust2" value="whether" v-model="clust2"> Whether</label>
												</div>
												<input v-show="clust2=='key'" v-model="clust2_key" type="entry" style="width: 25em" id="clust2-key" />
												<div v-show="clust2=='whether'">
													<textarea id="whether-input2"></textarea>
												</div>
											</div>
										</div>
									</div>
									<p>
										<label v-if="mode=='syntax'">
											<input type="checkbox" v-model="display.lemma"> lemma
										</label>
										<label v-if="mode=='syntax'">
											&nbsp;&nbsp;
											<input type="checkbox" v-model="display.upos" checked> upos
										</label>
										<label v-if="mode=='syntax'">
											&nbsp;&nbsp;
											<input type="checkbox" v-model="display.xpos"> xpos
										</label>
										<label v-if="mode=='syntax'">
											&nbsp;&nbsp;
											<input type="checkbox" v-model="display.features"> features
										</label>
										<label v-show="mode=='syntax'">
											&nbsp;&nbsp;
											<input type="checkbox" v-model="display.tf_wf"> textform/wordform
											<i id="tf-wf-tooltip" class="fa fa-question-circle tooltip-desc"></i>
										</label>
										<label>
											&nbsp;&nbsp;
											sentences order:
										</label>
										<select v-model="display.order" id="sentences-order">
											<option value="init">initial</option>
											<option value="length">by length</option>
											<option value="shuffle">shuffle</option>
										</select>

										<label>
											&nbsp;&nbsp;
											<input type="checkbox" v-model="display.context"> context
										</label>
										<label>
											&nbsp;&nbsp;
											<input type="checkbox" v-model="display.pid"> node names
											<i id="pid-tooltip" class="fa fa-question-circle tooltip-desc"></i>
										</label>
									</p>
									<p>
										<button class="btn btn-primary" onclick="javascript:search()" :disabled="disable_search || wait || corpus_error" style="margin-right:10px">
											{{ wait ? "Searching..." : "Search" }}
											<i class="fa fa-search" aria-hidden="true"></i>
										</button>
										<button class="btn btn-primary" onclick="javascript:count()" :disabled="disable_search || wait || corpus_error" style="margin-right:10px">
											{{ wait ? "Counting..." : "Count" }}
											<i class="fa fa-list-ol" aria-hidden="true"></i>
										</button>
										<button id="duplicate" type="button" class="tooltip-desc btn btn-primary" onclick="duplicate()">
											Clone
											<i class="fa fa-files-o" aria-hidden="true"></i>
										</button>
									</p>
								</div>

								<!-- Upper-right part: navbar Snippets/Examples -->
								<div class="col-md-4">
									<span id="right-pane"></span> <!-- Dynamically loaded code, depending of the corpus -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Middle part: clusters buttons -->
				<div v-show='result_message != ""' class="row">
					<div class="jumbotron" id="jumbo-clust">
						<div class="container-fluid" style="padding-left: 5px;">
							<h3 id="result_message">
								{{ result_message }}
								<span style="font-size: 60%">[{{current_time.toFixed(3)}}s]</span>
							</h3>
							<button id="save-button" class="btn btn-primary tooltip-desc" :disabled='result_message==""' onclick="javascript:save_request()" style="margin-right:10px">
								Save <i class="fa fa-link" aria-hidden="true"></i>
							</button>
							<button id="export-button" class="btn btn-primary tooltip-desc" v-show='mode=="syntax" && search_mode && result_message!="" && result_message!="No results"' onclick="javascript:run_export()" style="margin-right:10px">
								TSV <i class="fa fa-download" aria-hidden="true"></i></span>
							</button>
							<button id="download-conll-button" class="btn btn-primary tooltip-desc" v-show='mode=="syntax" && search_mode && result_message!="" && result_message!="No results"' onclick="javascript:conll_export()" style="margin-right:10px">
								CoNLL <i class="fa fa-download" aria-hidden="true"></i></span>
							</button>

							<h5 v-show="current_custom != ''" style="margin-top:10px; margin-bottom:0px;">
								<span>Your pattern URL:
									<span id="custom-url">{{ current_custom }}</span>
								</span>
							</h5>

							<!-- NB: v-show needed instead of v-if for proper switch initialisation -->
							<div v-show="cluster_dim == 1" class="row" style="margin-left: 0; margin-top: 10px; margin-bottom: 10px;">
								<span style="font-size: 150%; margin-right:10px">{{cluster_list.length}} cluster{{ cluster_list.length > 1 ? "s" : "" }}</span>

								<button class="btn btn-primary tooltip-desc btn-sm" onclick="javascript:clusters_export()" style="margin-right:10px">
									TSV <i class="fa fa-download" aria-hidden="true"></i></span>
								</button>

								<div class="btn-group" role="group" style="margin-right:10px">
									<button type="button" class="btn btn-sm" v-on:click="sort=true" v-bind:class="sort ? 'btn-success' : 'btn-default'"><i class='fa fa-sort-amount-desc'></i></button>
									<button type="button" class="btn btn-sm" v-on:click="sort=false" v-bind:class="!sort ? 'btn-success' : 'btn-default'"><i class='fa fa-sort-alpha-asc'></i></button>
								</div>

								<div class="btn-group" role="group" style="margin-right:10px">
									<button type="button" class="btn btn-sm" v-on:click="raw_nb=true" v-bind:class="raw_nb ? 'btn-success' : 'btn-default'"><i class='fa fa-hashtag'></i></button>
									<button type="button" class="btn btn-sm" v-on:click="raw_nb=false" v-bind:class="!raw_nb ? 'btn-success' : 'btn-default'"><i class='fa fa-percent'></i></button>
								</div>

							</div>
							<div v-show="cluster_dim == 1" class="row" style="margin-left: 0; margin-top: 10px; margin-bottom: 10px;">
								<button 
									v-for="cluster in cluster_list_sorted" 
									type="button" 
									class="btn btn-sm" 
									v-on:click="select_cluster_1d(cluster.index)" 
									v-bind:class="current_cluster_path != undefined && cluster.index == current_cluster_path[0] ? 'btn-success' : 'btn-default'"
									style="margin-right:10px"
								>
									<span class="badge badge-pill badge-info">
										{{ raw_nb ? cluster.size : cluster.percent}}
									</span>
									{{ cluster.value }}
								</button>

							</div>

							<div v-if="cluster_dim == 2 && nb_solutions > 0" class="row" style="margin-left: 0">
								<div class="btn-group" role="group" style="margin-top: 10px; margin-bottom: 10px;">
									<button type="button" class="btn btn-sm" v-on:click="grid_display=Grid_display.SIZE" v-bind:class="grid_display === Grid_display.SIZE ? 'btn-success' : 'btn-default'">
										<i class='fa fa-hashtag'></i>
									</button>
									<button type="button" class="btn btn-sm" v-on:click="grid_display=Grid_display.PERCENT" v-bind:class="grid_display === Grid_display.PERCENT ? 'btn-success' : 'btn-default'">
										<i class='fa fa-percent'></i>	↖
									</button>
									<button type="button" class="btn btn-sm" v-on:click="grid_display=Grid_display.PERCENT_COL" v-bind:class="grid_display === Grid_display.PERCENT_COL ? 'btn-success' : 'btn-default'">
										<i class='fa fa-percent'></i>
										<i class="fa fa-arrow-up"></i>
									</button>
									<button type="button" class="btn btn-sm" v-on:click="grid_display=Grid_display.PERCENT_ROW" v-bind:class="grid_display === Grid_display.PERCENT_ROW ? 'btn-success' : 'btn-default'">
										<i class='fa fa-percent'></i>
										<i class="fa fa-arrow-left"></i>
									</button>
								</div>
								<span style="font-size: 150%; margin-left: 10px;" v-html="grid_message"></span>
	
								<div style="overflow-y:scroll;">
									<cluster-grid :columns="grid_columns" :rows="grid_rows" :cells="grid_cells" :col_label="col_label" :row_label="row_label" :grid_display="grid_display">
									</cluster-grid>
							  </div>
							</div>

						</div>
					</div>
				</div>

				<!-- Lower part: Display the results -->
				<div class="row">
					<div v-show="result_message != '' && current_cluster_path != undefined && result_nb > 0" class="container-fluid">

						<div class="row">
							<div class="col-md-2">
								<div class="results-navig" v-if="result_nb > 0">
									<button class="btn btn-primary btn-results" v-bind:class="{ disabled: result_nb == current_cluster_size }" onclick="javascript:more_results()">
										More results <i class="fa fa-plus-circle" aria-hidden="true"></i>
									</button>
									<br/>
									<button class="btn btn-sm btn-primary btn-results" v-bind:class="{ disabled: current_view == 0 }" v-on:click="select_item(0)">
										<i class="fa fa-fast-backward fa-fw" aria-hidden="true"></i>
									</button>
									<button class="btn btn-sm btn-primary btn-results" v-bind:class="{ disabled: current_view == 0 }" v-on:click="select_item(current_view-1)">
										<i class="fa fa-step-backward fa-fw" aria-hidden="true"></i>
									</button>
									<span class="btn-results" style="font-size: 150%">{{ current_view + 1 }} / {{ result_nb }}</span>
									<button class="btn btn-sm btn-primary btn-results" v-bind:class="{ disabled: current_view == result_nb-1 }" v-on:click="select_item(current_view+1)">
										<i class="fa fa-step-forward fa-fw" aria-hidden="true"></i>
									</button>
									<button class="btn btn-sm btn-primary btn-results" v-bind:class="{ disabled: current_view == result_nb-1 }" v-on:click="select_item(result_nb-1)">
										<i class="fa fa-fast-forward fa-fw" aria-hidden="true"></i>
									</button>

									<ul id="results-list">
										<li v-for="(item, itemKey) in current_cluster" v-bind:class='{ displayed: itemKey==current_view }'>
											<a v-on:click='select_item(itemKey)'>{{ item.sent_id }}</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-10">

								<div v-show="audio_begin != undefined" >
									<audio id="audioPlayer" preload="none" controls style="width: 100%; height: 30px;">
										<source src="to_be_filled_dynamically">
										Your browser does not support the audio tag.
									</audio> 
								</div>

								<div v-if="result_nb > 0">
									<div id="passage-text" class="passage">

										<div id="meta-panel" class="panel panel-default" style="margin-bottom:4px;">

											<button v-if='current_view >= 0 && "meta" in current_item && Object.keys(current_item.meta).length > 0' 
												class="btn btn-primary btn-sm" type="button" v-on:click="metadata_open=!metadata_open">
												Metadata&nbsp;
												<i class="fa fa-fw" v-bind:class="metadata_open ? ['fa-chevron-down'] : ['fa-chevron-right']"></i>
											</button>

											<button v-show="mode=='syntax'" type="button" id="conll-button" class="btn btn-primary btn-sm tooltip-desc" onclick="show_conll()">
												CoNLL&nbsp;
												<i class="fa fa-rocket" aria-hidden="true"></i>
											</button>

											<!-- Link button -->
											<a v-show='current_item["url"]' v-bind:href='current_item["url"]' target="_blank">
												<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-link fa-lg"></i></button>
											</a>

											<button v-if="mode=='semantics'" type="button" id="code-button" class="btn btn-primary btn-sm tooltip-desc" onclick="javascript:show_code()">
												Code&nbsp;
												<i class="fa fa-rocket" aria-hidden="true"></i>
											</button>

											<a v-if="current_view >=0" target="_blank" v-bind:href="backend_server + 'data/' + current_cluster[current_view].filename">
												<button type="button" class="btn btn-sm btn-primary tooltip-desc">
													SVG&nbsp;
													<i class="fa fa-external-link" aria-hidden="true"></i>
												</button>
											</a>

										</div>

										<div v-if="current_view >= 0">
											<div v-show="metadata_open">
												<p v-for='(item, itemKey) in current_item.meta'>
													<span><b>{{itemKey}}</b>: {{item}}</span>
												</p>
											</div>
										</div>

										<div v-if="current_view >= 0">
											<h4 id="sentence" v-bind:dir="current_corpus['rtl'] ? 'rtl' : 'ltr'" v-html="current_cluster[current_view].sentence"></h4>
										</div>
									</div>
								</div>

								<div v-if="result_nb > 0 && current_view >= 0" id="display-svg">
									<img v-bind:src="backend_server + 'data/' + current_cluster[current_view].filename"></img>
								</div>

								<div v-show="current_corpus.parallels && current_corpus.parallels.length > 0 && current_group_id != 'Tutorial'">
									Parallel corpora: 
									<i id="para-tooltip" class="fa fa-question-circle tooltip-desc"></i>
									<i id="para-close-tooltip" v-show="parallel != 'no'" class="fa fa-times-circle fa-lg tooltip-desc" v-on:click="parallel='no'; update_parallel_()" style="float: right; margin-top: 8px;"></i>
									<span v-for="par in current_corpus.parallels">
										<button style="margin-left:20px" type="button" class="btn" v-on:click="parallel=par; update_parallel_()" v-bind:class="par == parallel ? 'btn-success' : 'btn-default'" > 
										{{ par }}
									</button>
									<i aria-hidden="true" class="fa fa-lg fa-link" v-on:click="search_corpus_(par)"></i>
								</span>
								</div>

								<div v-if="current_corpus.parallels && current_corpus.parallels.length > 0 && parallel != 'no'" id="display-parallel">
									<div v-if="parallel_svg">
										<img v-bind:src="parallel_svg"></img>
									</div>
									<div v-else>
										<h4>{{parallel_message}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- container -->
		</div> <!-- wrapper -->





		<!-- tooltip content -->
		<div id="warning-tip" style="display: none;">
			<p>No corpus found with the requested name.</p>
			<p>The closest one (longuest common prefix then Levenshtein distance) is chosen.</p>
		</div>

		<!-- tooltip content -->
		<div id="tf-wf-tip" style="display: none;">
			<p>Show the two special features <b>wordform</b> and <b>textform</b>.
				See
				<a href="https://grew.fr/doc/conllu/#additional-features-textform-and-wordform" target="_blank">
					<button class="btn btn-primary btn-results btn-sm">doc</button>
				</a>
				for more info.
			</p>
		</div>

		<!-- modal for pivot choice -->
		<div id="pivot-modal" class="modal">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<p>Chose the pivot</p>
					</div>
					<div id="pivot-list" class="modal-body" style="text-align: center; padding-bottom: 15px">
						<p v-for="pivot in current_pivots">
							<button type="button" class="btn btn-primary" v-on:click="export_tsv_(pivot)"> {{ pivot }} </button>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- modal for tsv export -->
		<div id="export-modal" class="modal fade">
			<div class="modal-dialog modal-lg modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<button type="button" class="btn btn-primary" onclick="javascript:download()">Download TSV file&nbsp;&nbsp;</button>
					</div>
					<div class="modal-body" id="export-body">
						<div id="exportResult"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- modal for conll export -->
		<div id="code_modal" class="modal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<button type="button" class="btn btn-primary" style="width:100%" onclick="javascript:code_copy()">Copy in clipboard</button>
					</div>
					<div class="modal-body">
						<textarea id="code_viewer" rows="25" readonly=""></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- component template -->
	<script type="text/x-template" id="grid-template">
		<table class="table-bordered" style="margin-bottom: 10px;" >
		<thead>
			<tr>
				<td style="padding:0px">
					<div class="cell diag">
						<div class="cell--topRight"><code>{{col_label}}</code></div>
						<div class="cell--bottomLeft"><code>{{row_label}}</code></div>
					</div>
				</td>
				<th class="th-grid" v-for="col in columns">
					<span class="label label-default">
						<span class="badge badge-pill"style="background-color: black;">
							{{ grid_display === Grid_display.SIZE ? col.size : grid_display === Grid_display.PERCENT_COL ? "100%" : col.percent }}
						</span>
						{{ col.value }}
					</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(row,row_index) in rows">
				<th class="th-grid"> 
					<span class="label label-default">
						<span class="badge badge-pill"style="background-color: black;">
							{{ grid_display === Grid_display.SIZE ? row.size : grid_display === Grid_display.PERCENT_ROW ? "100%" : row.percent }}
						</span> 
						{{ row.value }}
					</span> 
				</th>
				<td class="td-grid" v-for="(col,col_index) in columns">
					<a v-if="cells[row_index][col_index].size > 0" class="btn" v-bind:class="(col_index == selected_col) && (row_index == selected_row) ? 'btn-success' : 'btn-default'" v-on:click="select_cluster_2d_(col_index,row_index)">
						{{ grid_display === Grid_display.SIZE ? cells[row_index][col_index].size : grid_display === Grid_display.PERCENT ? cells[row_index][col_index].percent : grid_display === Grid_display.PERCENT_COL ? cells[row_index][col_index].percent_col : cells[row_index][col_index]. percent_row }}
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	</script>



	<!-- Grew-match specific CSS and JS -->
	<script src="js/utils.js"></script>
	<script src="js/grid_comp.js"></script>
	<script src="js/main.js"></script>
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/sidebar.css">
	<link rel="stylesheet" href="css/tooltip.css">

</body>

</html>